@font-face {
    font-family: OrpheusProBold;
    src: url(../fonts/Orpheus-Pro-Bold.ttf);
}

@font-face {
    font-family: SofiaProLight;
    src: url(../fonts/Sofia-Pro-Light.otf);
}
@font-face {
    font-family: SofiaProBold;
    src: url(../fonts/Sofia-Pro-Bold.otf);
}